{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="product-page">
        <div class="product-image">
            <img src="{{product.image.url}}" alt="{{ product.name }}">
        </div>
        <div class="product-details">
            <h2>{{ product.name }}</h2>
            <div class="rating">
                <span>⭐ {{ average_rating }}</span> <!-- Оценка товара -->
                <span>({{comment_count}}) отзыв(-ов)</span> <!-- Количество отзывов -->
            </div>
            <p class="description">{{ product.description }}</p>
            <div class="price">
                <span class="current-price">Цена: {{ product.price }} руб.</span>
                <span class="discount">Скидка: {{ product.discount }}%</span>
            </div>
            <div class="tags">
                <span>#кофе</span>
                <span>#напитки</span>
                <span>#органик</span>
            </div>
            <div class="buttons">
                <button class="btn">Добавить в корзину</button>
                <button class="btn">Добавить в избранное</button>
                <button class="btn">Поделиться ссылкой</button>
            </div>
        </div>
        <div class="comments">
            {% include "includes/comments.html" with comments=product.comments.all%}
        </div>
    </div>
{% endblock content %}