<header>
    <nav class="menu-bar">
        <a href="{% url "index" %}">Главная</a>
        <a href="#">О нас</a>
        <a href="#">Доставка</a>
        <a href="#">Корзина</a>
        {% if not user.is_authenticated %}
        <a href="{% url "users:login" %}">Вход</a>
        <a href="{% url "users:signup" %}">Регистрация</a>
        {% else %}
        <a href="{% url "users:logout" %}">Выйти</a>
        <a href="{% url "users:profile" %}">Личный кабинет</a>
        {% endif %}
    </nav>
</header>