{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" style="display: flex; gap: 20px;">

  <!-- Блок корзины пользователя -->
<div class="cart-s" style="flex: 1; max-width: 50%; padding: 20px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); border-radius: 8px;">
    <h2 style="text-align: center;">Ваша корзина</h2>
    <div>
      {% if carts|length == 0 %}
        <p style="text-align: center;">В корзине пока нет товаров</p>
      {% else %}
        <!-- Список товаров -->
        {% for cart in carts %}
        <div class="cart-" style="display: flex; justify-content: space-between; align-s: center; padding: 10px 0; border-bottom: 1px solid #dee2e6;">
          <span style="flex: 0 0 70%;">{{ cart.product.name }}</span>
          <div class="-controls" style="flex: 0 0 30%; display: flex; justify-content: space-between; align-s: center;">
              <form action="{% url 'carts:edit_cart' product_slug=cart.product.slug %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="action" value="decrease">
                <button class="btn btn-sm" style="padding: 5px 10px;" type="submit">-</button>
            </form>
            <span>{{ cart.amount }}</span>
            <form action="{% url 'carts:edit_cart' product_slug=cart.product.slug %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="action" value="increase">
                <button class="btn btn-sm" style="padding: 5px 10px;" type="submit">+</button>
            </form>
            <form action="{% url 'carts:delete_cart' cart.product.slug%}" method="POST">
              {% csrf_token %}
              <button type="submit" class="add-to-cart" style="flex: 0 0 10%; background: none; border: none; cursor: pointer; margin-left: 10px;">
                <img src="{% static 'images/delete_from_cart.png' %}" alt="Добавить в корзину" style="max-height: 20px;">
              </button>
            </form>
          </div>
        </div>
        {% endfor %}
        <div class="card-footer" style="display: flex; justify-content: space-between; align-items: center; padding: 15px; border-top: 1px solid #dee2e6;">
          <p style="margin: 0;">Итого <strong>{{ carts.total_amount }}</strong> товар(а) на сумму</p>
          <h4 style="margin: 0;"><strong>{{ carts.total_price }} руб.</strong></h4>
        </div>
        <!-- Кнопки управления заказом -->
        <div class="cart-actions" style="display: flex; justify-content: space-between; margin-top: 20px;">
          <form action="{% url 'orders:create_order' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn" style="flex: 1; margin-right: 10px;">Оформить заказ</button>
          </form>
          {% if carts %}
          <form action="{% url 'carts:clear_cart' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn" style="flex: 1; margin-right: 10px;">Очистить корзину</button>
          </form>
          {% endif %}
          <button class="btn" style="flex: 1;">Поделиться корзиной</button>
        </div>
      {% endif %}
    </div>
</div>

  <!-- Блок рекомендаций -->
  <div class="recommendations" style="flex: 1; max-width: 50%; padding: 20px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); border-radius: 8px;">
    <h2 style="text-align: center;">С этими товарами часто берут</h2>
    <!-- Список рекомендаций -->
    <div class="recommendation-list">
      {% for product in recommended_products %}
      <div class="product-row" style="display: flex; align-items: center; padding: 10px 0; border-bottom: 1px solid #dee2e6;">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="flex: 0 0 10%; max-height: 50px; object-fit: contain; margin-right: 10px;">
        <span style="flex: 1; text-align: left;">{{ product.name }}</span>
        <span style="flex: 0 0 20%; text-align: right;">{{ product.sell_price }} ₽</span>
        <form action="{% url 'carts:add_cart' product.slug%}" method="POST">
          {% csrf_token %}
          <button type="submit" class="add-to-cart" style="flex: 0 0 10%; background: none; border: none; cursor: pointer; margin-left: 10px;">
            <img src="{% static 'images/add_to_cart.png' %}" alt="Добавить в корзину" style="max-height: 20px;">
          </button>
        </form>
      </div>
      {% endfor %}
    </div>

    <!-- Кнопка "Показать ещё" -->
    <div style="text-align: center; margin-top: 20px;">
      <button class="btn">Показать ещё</button>
    </div>
  </div>

</div>
{% endblock content %}