{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="container-f1 mt-5">
    <div class="row">
      <!-- Первый блок: Профиль пользователя -->
      <div class="col-md-6">
        <div class="bg-white p-4 mb-4 rounded custom-shadow">
          <h3 class="text-center mb-4">Профиль пользователя</h3>
          <div class="text-center mb-3">
            <img src="{% static 'base_user.jpg' %}" alt="Аватар пользователя" class="img-fluid rounded-circle" style="max-width: 150px;">
          </div>
          <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_first_name" class="form-label">Имя*</label>
              <input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="Введите ваше имя" value="{{ form.first_name.value }}" required>
              {% if form.first_name.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="id_last_name" class="form-label">Фамилия*</label>
              <input type="text" class="form-control" id="id_last_name" name="last_name" placeholder="Введите вашу фамилию" value="{{ form.last_name.value }}" required>
              {% if form.last_name.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="id_username" class="form-label">Имя пользователя*</label>
              <input type="text" class="form-control" id="id_username" name="username" placeholder="Введите ваше имя пользователя" value="{{ form.username.value }}" required>
              {% if form.username.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="id_email" class="form-label">Email*</label>
              <input type="email" class="form-control" id="id_email" name="email" placeholder="Введите ваш email *youremail@example.com" value="{{ form.email.value }}" required>
              {% if form.email.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
              {% endif %}
            </div>
            <button type="submit" class="btn btn-dark w-100">Сохранить</button>
          </form>
        </div>
      </div>

      <!-- Второй блок: Список покупок и избранное -->
      <div class="col-md-6">
        <div class="bg-white p-4 rounded custom-shadow">
          <h3 class="text-center mb-4">Избранное</h3>
          <div class="product-list">
              {% for product in favorites %}
                  {% include "includes/favorites.html" %}
              {% empty %}
                  <div class="list-group-item">Нет избранных товаров.</div>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="bg-white p-4 mb-4 rounded custom-shadow border">
        <h3 class="text-center mb-4">Список покупок</h3>
        <ul class="list-group">
            {% for purchase in purchases %}
            <li class="list-group-item border mb-2 p-3" style="cursor: pointer;">
                <a href="{% url "orders:detail_order" purchase.id %}" style="text-decoration: none; color: inherit;">  <!-- Убираем цвет и подчеркивание -->
                    {{ purchase }} <br>
                    Статус заказа: <span style="font-weight: bold; color: red;"> {{ purchase.get_status_display }}</span>
                </a>
                {% for item in purchase.order_items.all %}
    <div class="product-info-detail d-flex align-items-center mb-1 p-1">
        <!-- Изображение товара -->
        <div class="product-image-detail" style="flex: 0 0 5%; margin-right: 15px;">
          <a href="{% url "goods:product" item.product.slug %}">  
          <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="width: 50px; height: 50px; object-fit: cover; border-radius: 5px;">
          </a>
        </div>
        <!-- Информация о товаре -->
        <p class="description mb-0" style="flex: 1; text-align: left;">{{ item.product.name }} в количестве: {{ item.amount }} шт.</p>
    </div>
                {% endfor %}
            </li>
            {% empty %}
                <li class="list-group-item">Нет покупок.</li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}